* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171A39;
}

.loader {
    height: 50px;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.loader div {
    display: inline-block;
    width: 7px;
    height: 50%;
    margin: 0 3px;
    background-color: #54EDFE;
}
.loader div:nth-child(1) {
    animation: animate 1s infinite linear alternate 0s;
}
.loader div:nth-child(2) {
    animation: animate 1s infinite linear alternate 0.20s;
}
.loader div:nth-child(3) {
    animation: animate 1s infinite linear alternate .4s;
}
.loader div:nth-child(4) {

    animation: animate 1s infinite linear alternate .6s;
}

@keyframes animate {
    from {
        height: 50%;
    }
    to {
        height: 100%;
    }
}